In [1]:
import pandas as pd
import string

In [2]:
df = pd.read_csv('final_all_names_code.csv')

In [9]:
df.shape

(404062, 3)

In [4]:
len(df['Country_code'].unique())

78

In [5]:
columns=list(string.ascii_lowercase) + ['Country_code', 'Country']
newdf = pd.DataFrame(columns=columns)

In [6]:
ind = 0
name = df['Name'][ind]
nameLst = str(name).split(' ')
lastName = nameLst[-1].lower()
chars = dict.fromkeys(columns, 0)
for i in lastName:
    chars[i] = 1
chars['Country_code'] = df['Country_code'][ind]
chars['Country'] = df['Country'][ind]
newdf = newdf.append(chars, ignore_index=True)
newdf.head()

,a,b,c,d,e,f,g,h,i,j,...,s,t,u,v,w,x,y,z,Country_code,Country
0,0,0,0,0,0,0,0,1,0,1,...,1,0,0,0,0,0,0,0,ar_AE,AE

In [13]:
for ind in range(1000):
    name = df['Name'][ind]
    nameLst = str(name).split(' ')
    lastName = nameLst[-1].lower()
    chars = dict.fromkeys(columns, 0)
    for i in lastName:
        chars[i] = 1
    chars['Country_code'] = df['Country_code'][ind]
    chars['Country'] = df['Country'][ind]
    newdf = newdf.append(chars, ignore_index=True)

In [42]:
newdf['Country']

0        AE
1        AE
2        AE
3        AE
4        AE
         ..
10404    AE
10405    AE
10406    AE
10407    AE
10408    AE
Name: Country, Length: 10409, dtype: object

In [14]:
newdf.head()

,a,b,c,d,e,f,g,h,i,j,...,t,u,v,w,x,y,z,Country_code,Country,.
0,0,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,ar_AE,AE,NaN
1,0,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,ar_AE,AE,NaN
2,0,0,0,0,0,0,1,1,1,0,...,1,0,0,1,0,0,0,ar_AE,AE,NaN
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,ar_AE,AE,NaN
4,0,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,ar_AE,AE,NaN

In [15]:
from sklearn.preprocessing import LabelEncoder

In [16]:
le = LabelEncoder()
df['Name'] = le.fit_transform(df['Name'])

In [33]:
# X = pd.factorize(df['Name'])[0].reshape(-1,1)
# Y = pd.factorize(df['Country'])[0].reshape(-1,1)

In [51]:
X = newdf[list(string.ascii_lowercase)]
Y = newdf['Country']

In [52]:
X.shape

(10409, 26)

In [53]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2, random_state=0)

In [55]:
from sklearn.neural_network import MLPClassifier
clf = MLPClassifier(hidden_layer_sizes=(6,5),
                   random_state=0,
                   verbose=True,
                   learning_rate_init=0.01)
clf.fit(X_train, Y_train)

Iteration 1, loss = 0.61870553
Iteration 2, loss = 0.61414579
Iteration 3, loss = 0.61337488
Iteration 4, loss = 0.61172227
Iteration 5, loss = 0.61135576
Iteration 6, loss = 0.61056831
Iteration 7, loss = 0.60952742
Iteration 8, loss = 0.60972004
Iteration 9, loss = 0.60878205
Iteration 10, loss = 0.60874295
Iteration 11, loss = 0.60902916
Iteration 12, loss = 0.60804079
Iteration 13, loss = 0.60786734
Iteration 14, loss = 0.60755309
Iteration 15, loss = 0.60719918
Iteration 16, loss = 0.60863441
Iteration 17, loss = 0.60752479
Iteration 18, loss = 0.60705796
Iteration 19, loss = 0.60791483
Iteration 20, loss = 0.60842593
Iteration 21, loss = 0.60655986
Iteration 22, loss = 0.60565789
Iteration 23, loss = 0.60539939
Iteration 24, loss = 0.60649128
Iteration 25, loss = 0.60583964
Iteration 26, loss = 0.60555888
Iteration 27, loss = 0.60548889
Iteration 28, loss = 0.60527387
Iteration 29, loss = 0.60598688
Iteration 30, loss = 0.60518383
Iteration 31, loss = 0.60477972
Iteration 32, loss = 0.60453700
Iteration 33, loss = 0.60491897
Iteration 34, loss = 0.60476366
Iteration 35, loss = 0.60429963
Iteration 36, loss = 0.60434233
Iteration 37, loss = 0.60396974
Iteration 38, loss = 0.60381930
Iteration 39, loss = 0.60372379
Iteration 40, loss = 0.60458396
Iteration 41, loss = 0.60366756
Iteration 42, loss = 0.60346354
Iteration 43, loss = 0.60363257
Iteration 44, loss = 0.60365863
Iteration 45, loss = 0.60314015
Iteration 46, loss = 0.60403392
Iteration 47, loss = 0.60298309
Iteration 48, loss = 0.60324196
Iteration 49, loss = 0.60370857
Iteration 50, loss = 0.60324461
Iteration 51, loss = 0.60248548
Iteration 52, loss = 0.60339082
Iteration 53, loss = 0.60297300
Iteration 54, loss = 0.60342077
Iteration 55, loss = 0.60309616
Iteration 56, loss = 0.60223223
Iteration 57, loss = 0.60260851
Iteration 58, loss = 0.60292578
Iteration 59, loss = 0.60237197
Iteration 60, loss = 0.60241951
Iteration 61, loss = 0.60304916
Iteration 62, loss = 0.60284411
Iteration 63, loss = 0.60278383
Iteration 64, loss = 0.60218386
Iteration 65, loss = 0.60231279
Iteration 66, loss = 0.60208652
Iteration 67, loss = 0.60248264
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.

MLPClassifier(hidden_layer_sizes=(6, 5), learning_rate_init=0.01,
              random_state=0, verbose=True)

In [56]:
Y_pred = clf.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy_score(Y_test, Y_pred)

0.686359269932757