Code Credits - **[Mudit Golchha](https://github.com/mudit2004)**

In [38]:
import pandas as pd
import string

In [39]:
df = pd.read_csv('final_all_names_code.csv')

In [40]:
df.shape

(404062, 3)

In [41]:
len(df['Country_code'].unique())

78

In [42]:
columns=list(string.ascii_lowercase) + ['Country_code', 'Country']
newdf = pd.DataFrame(columns=columns)

In [43]:
ind = 0
name = df['Name'][ind]
nameLst = str(name).split(' ')
lastName = nameLst[-1].lower()
chars = dict.fromkeys(columns, 0)
for i in lastName:
    chars[i] = 1
chars['Country_code'] = df['Country_code'][ind]
chars['Country'] = df['Country'][ind]
newdf = newdf.append(chars, ignore_index=True)
newdf.head()

,a,b,c,d,e,f,g,h,i,j,...,s,t,u,v,w,x,y,z,Country_code,Country
0,0,0,0,0,0,0,0,1,0,1,...,1,0,0,0,0,0,0,0,ar_AE,AE

In [44]:
for ind in range(1000):
    name = df['Name'][ind]
    nameLst = str(name).split(' ')
    lastName = nameLst[-1].lower()
    chars = dict.fromkeys(columns, 0)
    for i in lastName:
        chars[i] = 1
    chars['Country_code'] = df['Country_code'][ind]
    chars['Country'] = df['Country'][ind]
    newdf = newdf.append(chars, ignore_index=True)

In [45]:
newdf['Country']

0       AE
1       AE
2       AE
3       AE
4       AE
        ..
996     AE
997     AE
998     AE
999     AE
1000    AE
Name: Country, Length: 1001, dtype: object

In [46]:
newdf.head()

,a,b,c,d,e,f,g,h,i,j,...,t,u,v,w,x,y,z,Country_code,Country,.
0,0,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,ar_AE,AE,NaN
1,0,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,ar_AE,AE,NaN
2,0,0,0,0,0,0,1,1,1,0,...,1,0,0,1,0,0,0,ar_AE,AE,NaN
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,ar_AE,AE,NaN
4,0,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,ar_AE,AE,NaN

In [47]:
from sklearn.preprocessing import LabelEncoder

In [48]:
le = LabelEncoder()
df['Name'] = le.fit_transform(df['Name'])

In [49]:
X = newdf[list(string.ascii_lowercase)]
Y = newdf['Country']

In [50]:
X.shape

(1001, 26)

In [51]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2, random_state=0)

In [52]:
from sklearn.neural_network import MLPClassifier
clf = MLPClassifier(hidden_layer_sizes=(6,5),
                   random_state=0,
                   verbose=True,
                   learning_rate_init=0.01)
clf.fit(X_train, Y_train)

Iteration 1, loss = 0.25177697
Iteration 2, loss = 0.14126438
Iteration 3, loss = 0.06712468
Iteration 4, loss = 0.02659413
Iteration 5, loss = 0.00972422
Iteration 6, loss = 0.00382602
Iteration 7, loss = 0.00172117
Iteration 8, loss = 0.00091822
Iteration 9, loss = 0.00056340
Iteration 10, loss = 0.00039112
Iteration 11, loss = 0.00029901
Iteration 12, loss = 0.00024534
Iteration 13, loss = 0.00021150
Iteration 14, loss = 0.00018940
Iteration 15, loss = 0.00017397
Iteration 16, loss = 0.00016240
Iteration 17, loss = 0.00015367
Iteration 18, loss = 0.00014685
Iteration 19, loss = 0.00014114
Iteration 20, loss = 0.00013639
Iteration 21, loss = 0.00013167
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.

MLPClassifier(hidden_layer_sizes=(6, 5), learning_rate_init=0.01,
              random_state=0, verbose=True)

In [53]:
Y_pred = clf.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy_score(Y_test, Y_pred)

1.0